name: Check

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure git author
        run: |
          git fetch origin main
          git checkout main
          git reset --hard origin/main
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.9"

      - uses: actions/setup-node@v6
        with:
          token: ${{ secrets.GH_DOTCOM_TOKEN }}
          node-version: 25

      - name: Bun install
        run: bun install

      - name: Run prerelease
        env:
          PATH: /usr/local/bin:/usr/bin:/bin
        run: |
          bun run prerelease
