name: Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: Select release type
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
      dry_run:
        description: Enable dry run
        required: false
        type: boolean
        default: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.4"

      - uses: actions/setup-node@v6
        with:
          token: ${{ secrets.GH_DOTCOM_TOKEN }}
          node-version: 25

      - name: Bun install
        run: bun install

      - name: Run release
        run: |
          if [ "${{ inputs.dry_run }}" = "true" ]; then
            bun run release:${{ inputs.release_type }} --ci --npm.skipChecks --dry-run
          else
            bun run release:${{ inputs.release_type }} --ci --npm.skipChecks
          fi

